.stat-card h3 {
    font-size: 1rem;
}

.stat-card .value {
    font-size: 2rem;
    font-weight: 700;
}

.container-fluid{
    width: 80%;
    margin-left: 280px;
}

@media (max-width: 768px) {
    .stat-card h3 {
        font-size: 0.9rem;
    }
    .stat-card .value {
        font-size: 1.3rem;
    }
    #specialty-stats div {
        font-size: 0.9rem;
    }
    .container-fluid {
        margin-left: 74px;
    }
    
}
