 /*----------sidebar style-------------*/
    .my-sidebar {
        width: 280px;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        overflow-y: auto;
        z-index: 100; 
        height: 100vh;
    }
    .section {
        margin-left: 280px;
    }

    .main-content {
        margin-left: 280px;
        padding: 20px;
    }

    @media (max-width: 992px) {
        .my-burger {
            display: none;
        }

        .my-sidebar {
            width: 80px;
        }

        .main-content {
            margin-left: 70px;
        }
        
        .dropdown-menu {
            display: none;
        }
        .nav{
            margin-left:-0.3rem;
        }

        .section {
            margin-left: 80px;
        }
        .formi{
            width: 75% !important;
            left: 15% !important;
        }
    }
     @media (max-width: 480px){
        .formi{
            width: 90% !important;
            left: 3% !important;
        }
        
     }
     @media (max-width: 365px) {
        .imgs{
            display: none;
        }
        .conti {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
     }
     

    .logo {
        width: 40px;
        height: 32px
    }

    .name {
        color: #1F2394;
    }

    .nav-link {
        color: #131552;
    }

    .nav-link:hover {
        color: grey;
    }

    .profil-section {
        position: relative;
    }

    .dropdown-menu {
        display: none;
        background-color: #f8f9fa;
        border-radius: 8px;
        padding: 8px;
        margin-top: 5px;
        position: absolute;
        top: -5rem;
        left: 6.3rem;
    }

    .dropdown-item {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
        color: black;
        border-radius: 4px;
    }


.sideBarToggle {
    width: 30px;
    height: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: darkblue;
    position: absolute;
    top: 0;
    left: -9%;

}

@media (max-width: 420px){
    .card {
    width: 250px !important;
    height: 170px !important;
    }
    .des{
        display: none;
    }
    .btncontainer {
        margin-top: auto;
        margin-bottom: 10px;
    }
    .btns{
        padding-left: 35px !important;
        padding-right: 35px !important;
    }
    .spicialty{
        font-size: x-small;
    }
}

